%h1 Listing supplements

%table
  %tr
    %th Name
    %th Supplement group
    %th Description
    %th Dose
    %th
    %th
    %th

  - @supplements.each do |supplement|
    %tr
      %td= supplement.name
      %td= supplement.supplement_group_id
      %td= supplement.description
      %td= supplement.dose
      %td= link_to 'Show', supplement
      %td= link_to 'Edit', edit_supplement_path(supplement)
      %td= link_to 'Destroy', supplement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Supplement', new_supplement_path
